
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: blue;
  --color-secondary: teal;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: #272730;
  --base-100: #272730;
  --color-secondary: teal;
}